@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

:root {
  font-family: Raleway;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --grey-extra-light: #f8faff;
  --grey-medium-light: #a2acc7;
  --grey-medium-dark: #7884a5;
  --grey-dark: #525c7a;
  --Black: #292e3d;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}
a:hover {
  transition: 0.5s ease-in-out;
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
}
